* {
    font-family: 'Arial', sans-serif;
    color: #d4d4d4; /* Text color */
    /* Add more common text styling properties as needed */
}
h1 {
    text-align: center;
    font-size: 6em;
}

body {
    background-image: url("../resources/images/startBackround.webp"); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Make sure the body takes the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    gap: 50vh;

}

.startButton{
    margin-bottom: 10%;
    color: rgb(0, 255, 42);
    background-color: #100952;
    border: transparent;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    font-family: 'Arial', sans-serif;
    font-weight: 900;


}
.startButton:hover{
    background-color: #ff0000;
}

.hidden {
    display: none;
  }
.alignBottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    }

.headerBUtton{
    border-color: transparent;
    color: #100952;
}
.headerBUtton:hover{
    color: antiquewhite;
}