html {
  height: -webkit-fill-available; /* We have to fix html height */
  overflow-x: hidden;
}

* {
  color: 	rgb(255, 255, 255);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4em;
}

.hidden {
  display: none;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10svh;
  background-color: #0b192e;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
  transition: top 0.3s ease-in-out;
}

.top-bar-title{
  padding-left: 10px;
  height: 7vh;
  width: 50%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.home-button{
  font-weight: 800;
  padding: 10px 20px;
  background: transparent;
  color: #0cc9ab;
  border: 5px solid transparent;
  cursor: pointer;
  font-size: 2rem;
  
}

.home-button:hover{
  padding: 10px 20px;
  border-radius: 15px;
  border: 5px solid #0cc9ab;
}

.top-bar-buttons{
  height: 7vh;
  padding-right: 20px;
  width: 50%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  color: #0cc9ab;
  gap: 10px;
}

#top-bar-spacer{
height: 12svh;
}


.quiz-content {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}

.quiz-container{
    display: flex;
    position: relative;
    height: 50svh;
    width: 100svw;
}

.question-container {
    display: flex;
    width: 50svw;
    height: 50svh;
    justify-content: center;
}

.question-text{
    text-align: center;
    font-size: 2em;;
    font-weight: 700;
}

#quiz-button-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 50svw;
    height: 50svh
}

.btn {
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    border: 5px solid transparent;
    color: #fff;
    width: 40svw;
}


.btn:hover {
    opacity: 0.2;
    transition: opacity 0.2s;
    border: 5px solid #0cc9ab;
}

.warning-text{
  font-size: 2rem;
  color: red;
  font-weight: 800;
}

#windowContainer {
  position: fixed;
  top: 0;
  right: -300px; /* Initially off screen */
  width: 300px;
  height: 100%;
  background-color: #0b192e;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease; /* Transition for smooth movement */
  z-index: 999;
}

#windowContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1svh;
}


#LVL-button,
#help-button {
  padding: 10px 20px;
  background: transparent;
  color: #0cc9ab;
  border: 5px solid transparent;
  cursor: pointer;
  font-weight: 800;
  font-size: 2rem;
}

#LVL-button:hover,
#help-button:hover {	
  border: 5px solid #0cc9ab;
  border-radius: 15px;

}

#closeWindow{
  padding: 10px 20px;
  background: transparent;
  color: #0b192e;
  background-color: #0cc9ab;
  border-radius: 15px;
  border: 5px solid transparent;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

#closeWindow:hover{
  background-color: transparent;
  color: #0cc9ab;
  border-color:#0cc9ab;
  border-radius: 15px;
  border: 5px solid #0cc9ab;
}

.LVL-buttons {
  padding: 10px 20px;
  background: transparent;
  color: #0cc9ab;
  border: 5px solid transparent;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.LVL-buttons:hover{
  border-color:#0cc9ab;
  border-radius: 15px;
  border: 5px solid #0cc9ab;
}

#showWindow:focus,
#closeWindow:focus {
  outline: none;
}

.LVL-menu-title{
  display: flex;

}