html {
    height: -webkit-fill-available; /* We have to fix html height */
}

* {
    color: 	rgb(190, 187, 187);
    font-family: 'Arial', sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100svh;
    min-width: 100svw;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items:center;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.quiz-container{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;
    /*align-items: center; */
    height: 50svh;
    width: 100svw;
}

.quiz-button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    gap: 0.5svh;
    width: 50svw;
    height: 50svh
}

.btn {
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    color: #fff;
    width: 40vw;
    height: 10vh;
    
}


.btn:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
}

.quiz {
    background-color: aqua;
    width: 50svw;
    height: 50svh
}



