* {
    font-family: 'Arial', sans-serif;
    color: #d4d4d4; /* Text color */
    /* Add more common text styling properties as needed */
}
h1 {
    text-align: center;
    font-size: 6em;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../resources/images/startBackround.webp"); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Make sure the body takes the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startButton{
    margin-bottom: 10%;
    color: rgb(0, 255, 42);
    background-color: #100952;
    border: none;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
}
.startButton:hover{
    background-color: #ff0000;
}

.hidden {
    display: none;
  }
.alignBottom {
    flex: 1; /* Allow the container to grow and take available space */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
}