body {
  background: url(../resources/images/stage2-bg.jpg);
  color:     rgb(255, 255, 255);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  width: 100svw;
}

.h1 {
  color:black; 
}

.btn{
  height: 10svh;
}
.cstm-spacer{
  height: 50svh;
  width: 100%;
  padding-left: 5%;
  text-align: left;
  font-size: xx-large;
  font-weight: 900;
  color: black;
}